@font-face {
    font-family: 'Arial MT';
    src: url('fonts/ArialMT.eot');
    src: url('fonts/ArialMT.eot?#iefix') format('embedded-opentype'),
    url('fonts/ArialMT.woff2') format('woff2'),
    url('fonts/ArialMT.woff') format('woff'),
    url('fonts/ArialMT.ttf') format('truetype'),
    url('fonts/ArialMT.svg#ArialMT') format('svg');
    font-weight: normal;
    font-style: normal;
    font-family: 'Lato';
    src: url('fonts/Lato-Regular.eot');
    src: url('fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/Lato-Regular.woff2') format('woff2'),
    url('fonts/Lato-Regular.woff') format('woff'),
    url('fonts/Lato-Regular.ttf') format('truetype'),
    url('fonts/Lato-Regular.svg#Lato-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Arial MT', sans-serif;
    margin: 0px;
}

.header {
    background-color: #e8ebf1;
    border-top: 1px solid #dddddd;
}

.conteiner {
    width: 1024px;
    margin: 0 auto;
}

.logo {
 display: inline-block;
 vertical-align: top;
 text-align: right;
 margin: 36px 0 47px 0;
}

.menu {
    display: inline-block;
    vertical-align: top;
    font-size: 13px;
    margin: 55px 0 40px 170px;
}
.menu__item {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
}
.menu__item:hover .menu__link {
    background-color: #ffffff;
    border-top: 5px solid #2aacc8;
}
.menu__item:hover .menu__dropdown {
    display: block;
    border-bottom: 5px solid #2aacc8;
}
.clearfix {
    clear: both;
}
.menu__dropdown {
    position: absolute;
    display: none;
    width: 197px;
    padding-left: 17px;
    background-color: #ffffff;
    border-bottom: 5px solid transparent;
    list-style-type: none;
    z-index: 20;
}
.menu__link {
    text-decoration: none;
    color: #000000;
    display: inline-block;
    padding-right: 15px;
    padding-left: 10px;
    line-height: 20px;
    font-size: 13px;
    font-weight: 600;
    border-top: 5px solid transparent;
    text-transform: uppercase;
}

.menu__item.last {
    margin-right: 0px;
}
.menu__link.last {
    padding-right: 10px;
}
.menu__link.dropdown {
    background-image: url(img/vd.png);
    background-repeat: no-repeat;
    background-position-x: 85px;
    background-position-y: center;
    padding-right: 25px;
}
.menu__link.dropdown.two {
    background-position-x: 95px;
}
.menu__dropdown-link {
    display: block;
    height: 40px;
    line-height: 40px;
    color: #000000;
    text-decoration: none;
    border-bottom: 1px solid #e7e7e7;
}
.menu__dropdown-link:hover {
    color: #2aacc8;
}

.banner_fon {
    background-color: #81e4ed;
    max-width: 100%;
}

.banner {
    display: inline-block;
    background-image: url("img/banner.png");
    background-position: center;
    background-repeat: no-repeat;
    vertical-align: top;
    width: 1000px;
    height: 440px;
    margin: 20px 0 40px 0;

}

.tag {
    display: inline-block;
    position: relative;
    left: 61px;
    bottom: 119px;
    color: #ffffff;
    font-family: Lato;
    font-weight: bold;
    width: 294px;
    height: 219px;
    font-size: 50px;

}

.coffee {
    display: inline-block;
    position: relative;
    left: 95px;
    bottom: 27px;
    width: 211px;
    height: 410px;

}

.layer {
    display: inline-block;
    position: relative;
    left: 3.9%;
}


.radio {
    display: inline-block;
    width: 15px;
    height: 14px;
    border-radius: 50%;
    border-color: none;
    background-color: #626262;
    opacity: 0.5;
    margin-right: 17px;
    position: relative;
    left: 40%;
    bottom: 14px;
}

.radio.three {
    background-color: #ffffff;
    opacity: 1;
}

.card_fon{
    max-width: 100%;
    margin: 0 auto;
}

.card {
    display: inline-block;
    max-width: 21.8%;
    vertical-align: top;
    margin: 71px 40px 51px 0;
}

.card.four {
    margin-right: 0;
}

.card_item {
    display: inline-block;
    vertical-align: top;
    background-image: url("img/1.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #2aacc8;
}

.card_item.two {
    background-image: url("img/2.png");
}

.card_item.three {
    background-image: url("img/3.png");
}

.card_item.four {
    background-image: url("img/4.png");
}


.card_title {
    display: inline-block;
    text-align: center;
    margin-top: 10px;
    margin-left: 19px;
    color: #000000;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
}

.card_description {
    text-align: left;
    color: #363636;
    font-size: 13px;
    line-height: 20px;
    margin-top: 33px;
}

.card_item .card_title {
    display: inline-block;
}

.more {
    float: left;
    text-decoration: none;
    color: #2aacc8;
    vertical-align: top; 
}

.card_description.more::before {
    content: url(img/vr.png);
    margin-right: 3px;
}

.select {
    text-align: center;
    border-width: 1000px;
    padding-bottom: 18px;
    border-bottom: 1px  solid #dfe1e5;
    margin-top: 20px;
}

.kursor {
    float: left;
    vertical-align: top;
    text-align: center;
    
}

.card_title.latest {
    float: left;
    text-align: center;
    vertical-align: top;
    margin: 0 0 0 25px;
}


.vector{
    position: relative;
    left: 10px;
    background-image: url("img/vr.png");
    background-repeat: no-repeat;
    background-position: center;
    float: right;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #81e4ed;
    margin-right: 10px;
}

.vector.right {
    background-image: url("img/vl.png");
}

.cleardix {
    clear: both;
}

.images__card {
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 21.7741%;
    margin-right: 4.3032%;
    height: 160px;
    margin-top: 20px;
    margin-bottom: 40px;
}
.images__card.four {
    margin-right: 0;
}
.images__sing {
    display: block;
    width: 220px;
    height: 81px;
    background-color: #2aacc8;
    position: absolute;
    left: 0;
    bottom: 0;
    display: none;
}
.images__card:hover .images__sing {
    display: block;
}
.sing1 {
    display: inline-block;
    margin: 29px 35px 27px 69px;
    vertical-align: top;
    width: 35px;
    height: 25px;
    background-image: url(img/preview.png);
    background-size: 35px 25px;
}
.sing2 {
    display: inline-block;
    vertical-align: top;
    margin: 28px 61px 27px 0;
    width: 20px;
    height: 26px;
    background-image: url(img/link.png);
}

.blocs {
    width: 1024px;
    text-align: left;
    margin-top: 20px;
    border-top: 1px solid #dfe1e5;
}

.ceo {
    display: inline-block;
    text-align: left;
    width: 425px;
}


.card_title.test {
    display: inline-block;
    text-align: left;
    vertical-align: top;
    margin-left: 0;
}

.card_description.test {
    font-size: 14px;
    line-height: 24px;
    width: 425px;
}

.card_description.travis{
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
}

.card_title.test::before {
   content: url(img/comments.png);
   margin-right: 10px;
   margin-top: 5px;
}

.card_title.test.two::before {
    content: url(img/clients.png);
}

.ceo.two {
    width: 488px;
    vertical-align: top;
    text-align: left;
    margin-left: 111px;
}

.company {
    display: inline-block;
    vertical-align: top;
    position: relative;
    bottom: -20px

}


.client {
    display: inline-block;
    width: 160px;
    height: 101px;
    box-shadow: inset 0 0 25px #e8ebf1;
    border: 1px solid #e8ebf1;
    background-color: #ffffff;
}

.client_logo {
    display: inline-block;
    vertical-align: top;
    margin-top: 20px;
    margin-left: 30px;
}

.client_logo.three {
    margin-top: 30px;
    margin-left: 23px;
}

.client_logo.five {
    margin-left: 38px;
}

.client_logo.last {
    margin-top: 35px;
    margin-left: 6px;
}

.com.two {
    background-image: url("img/john.png"); 
}

.com.three {
    background-image: url("img/cnn.png"); 
}

.com.four {
    background-image: url("img/banana.png"); 
}

.com.five {
    background-image: url("img/apart.png"); 
}

.com.six {
    background-image: url("img/fuji.png"); 
}

.download {
    margin: 40px 0 40px 0;
    width: 1024px;
    border: 1px solid #81e4ed;
    background-color: #e8fcfe;
}

.modern {
    margin: 37px 0 35px 31px;
    width: 607px;
    color: #363636;
    font-size: 16px;
    line-height: 26px;
}

.psd {
    display: inline-block;
}

.psd.two {
    vertical-align: top;
    margin: 40px 0 40px 80px;
    width: 240px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2), inset 0 2px 1px rgba(255, 255, 255, 0.1);
    border: 1px solid #2aacc8;
    background-color: #2aacc8;
    border-radius: 7px;
    background-image: linear-gradient(to top, #2aacc8 0%, #60cede 15%, #72dae6 50%, #81e4ed 100%);
}

.button {
    display: inline-block;
    text-align: left;
    vertical-align: top;
    margin: 16px 0 19px 19px;
}

.load {
    display: inline-block;
    color: #0d0707;
    font-size: 18px;
    font-weight: bold;
    line-height: 20px;
    text-transform: uppercase;
    text-align: center;
    vertical-align: top;
    margin:20px 0 0  20px;
}

.menu_footer {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    max-width: 235px;
    margin: 32px 55px 0 0;
}

.footer_text {
    color: #000000;
    font-size: 15px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
}

.footer_link { 
    text-decoration: none;
    color: black;
    display: block;
    margin-top: 10px;
}
.footer_text.description {
    color: #363636; 
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-transform: none;
}

.menu_footer.last {
    padding-left: 18px;
    width: 202px;
    margin-right: 0; 
}

.footer_text.last {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    padding-left: 10px;
}


.social { 
    display: inline-block;
    text-align: left;
}

.soc {
    display: inline-block;
    text-align: left;
    margin-right: 17px;
    margin-top: 9px;
}

.soc.three {
    margin-right: 0;
}

.soc.six {
    margin-right: 0;
}

.copy {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    padding-top: 33px;
}

.copyright {
    width: 650px;
    display: inline-block;
    text-align: left;
    vertical-align: top;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 58px;
}

.logo.footer {
    display: inline-block;
    vertical-align: top;
    text-align: right;
    margin: 0 0 54px 210px;
    border: none;
}

.footer {
    border: 1px solid rgba(0, 0, 0, 0.15);
    background-color: #e8ebf1;
}
